<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>| |</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/CSS/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <a href="/Usuario/Listar">Listar</a>
    <a href="/Usuario/Cadastro">Cadastrar</a>
    <a href="/Usuario/Login">Login</a>
    <!-- <a href=""></a> -->

    @RenderBody()

</body>
</html>