@using Senai.Sistema.Carfel.ProjetoFinalDezoito.Models;
@using Microsoft.AspNetCore.Http;

@if(Context.Session.GetString("emailUsuario") == null){
Layout = "MasterPageDeslogado";
} else {
    if (Context.Session.GetString("emailUsuario") == "23@23.com")
    {
        Layout = "MasterPageADMLogado";
    } else {
        Layout = "MasterPageLogado";
}
}

@{
    ViewBag.Title = "Carfel -- Cadastro de Comentarios";
}

@section styles{
<link rel="stylesheet" href="/CSS/style-form.css">
<link rel="stylesheet" href="/CSS/comentario.css">
<script src="/JS/number.js"></script>
}

<main>

    <section id="comentarios">

        <form method="POST" action="/Comentario/Cadastrar"></form>

<div class="table-title">
        <h3 style="font-family: 'Work Sans', sans-serif; color: black; margin: 10% 0px 10% 15%;";>Area dos Comentários</h3>
<table class="table-fill">
    <thead>
        <tr>
            <th class="tth" >Usuario</th>
            <th class="tth" >Descrição</th>
            <th class="tth" >Data de Criação</th>
            <th class="tth" >Imagem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["Comentarios"] as List<ComentarioModel>)
        {
            <tr>
                <td class="text-left">
                    @item.NomeUsuario
                </td>
                <td class="text-left">
                    @item.Descricao
                </td>
                <td class="text-left">
                    @item.DataCriacao.ToShortDateString()
                </td>
                <td class="text-left">
                    <!-- Avatar -->
                    <div class="avatar"><img src="#"
                         style="height:50px; width: 50px; border-radius: 4px;"   alt="Usuario">
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

    </section>

    <section style="margin: 0 5% 0 5%">
        <h2 style="font-family: 'Work Sans', sans-serif; color: black; margin: 5% 0px 5% 35%; font-size: 1.9rem;">Cadastre um Comentário</h2>
                <div>
                    <form action="/Comentario/Cadastrar" method="Post">
                   <div style="margin: 0 0 0 30%;">
                    <label>
                        <input type="text" name="descricao" class="formul textinho4">
                    </label>
                    <label>
                        <input type="submit" value="Cadastrar" class="formul botaozinho btn" style="margin: 5% 0% 5% 15%; display: block;">
                    </label>
                    </div>
                    </form>
                </div>
    </section>

</main>