@using Senai.Sistema.Carfel.ProjetoFinalDezoito.Models;

@{
ViewBag.Title = "Carfel - Cadastro de Comentarios";
Layout = "MasterPagePrincipal";
}

<h1>Area dos Comentários</h1>


<form method="POST" action="/Comentario/Cadastrar">
       <!-- <textarea>//usuario</textarea> -->
</form>

<table>
    <thead>
        <tr>
            <td>Nome</td>
            <td>E-mail</td>
            <td>Data de nascimento</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>




<form action="/Comentario/Cadastrar" method="POST">
    <label>Fazer um novo comentario
        <input type="text" name="depoimento" required>
    </label>

    <input type="submit" value="Enviar">
</form>



@ViewBag.Mensagem




<h3>Listagem de usuários</h3>

@TempData["Mensagem"]

<table>
    <thead>
        <tr>
            <td>Nome</td>
            <td>E-mail</td>
            <td>Data de nascimento</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

@* @UsuarioModel razor *@

<select>
    
</select>