@using Senai.Sistema.Carfel.ProjetoFinalDezoito.Models;
@using Microsoft.AspNetCore.Http;

@if(Context.Session.GetString("emailUsuario") == null){
Layout = "MasterPageDeslogado";
} else {
    if (Context.Session.GetString("emailUsuario") == "23@23.com")
    {
        Layout = "MasterPageADMLogado";
    } else {
        Layout = "MasterPageLogado";
}
}

@{
    ViewBag.Title = "Carfel -- Cadastro de Comentarios";
}

@section styles{
<link rel="stylesheet" href="/Css/style-form.css">
<link rel="stylesheet" href="/Css/comentario.css">
<script src="/JS/number.js"></script>
}

<main>

    <section id="comentarios">
        <h1>Area dos Comentários</h1>
        <!-- <h2>ViewBag.Mensagem</h2> -->

        <form method="POST" action="/Comentario/Cadastrar">
            <!-- <textarea>//usuario</textarea> -->
        </form>

<table class="tabelinha">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Descrição</th>
            <th>Data de Criação</th>
            <th>Imagem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["Comentarios"] as List<ComentarioModel>)
        {
            <tr>
                <td>
                    @item.NomeUsuario
                </td>
                <td>
                    @item.Descricao
                </td>
                <td>
                    @item.DataCriacao.ToShortDateString()
                </td>
                <td>
                    <!-- Avatar -->
                    <div class="avatar"><img src="#"
                         style="height:50px; width: 50px; border-radius: 4px;"   alt="Usuario">
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


    </section>

    <section>
                <div>
                    <form action="/Comentario/Cadastrar" method="Post">
                    <label>
                        <input type="text" name="descricao" class="formul textinho4">
                    </label>
                    <label>
                        <input type="submit" value="Cadastrar" class="formul botaozinho btn">
                    </label>
                    </form>
                </div>
    </section>
</main>