<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-about.css">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

</head>

@{
    ViewBag.Title = "Carfel -- Sobre N처s";
    Layout = "MasterPagePrincipal";
}

<body>

    

    <main>

        <div class="uber1">

            <div class="ub1sobre">
                <img src="imagens/sobre1.png" alt="valores">
                <h2>Valores</h2>
            </div>

            <div class="ub2sobre">
                <img src="imagens/sobre2.png" alt="miss찾o">
                <h2>Miss찾o</h2>
            </div>

        </div>
        <div class="uber2">

            <div class="skipan">
                <span class="ub1sobre"> &emsp;&emsp; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </span>
            </div>
            <div class="skipan">
                <span class="ub2sobre"> &emsp;&emsp; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                    ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </span>
            </div>


        </div>
        <div class="uber3">

            <h2>Nossa Hist처ria</h2>
            <p>&emsp;&emsp;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum. Lorem ipsum dolor sit amet,
                consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
                aliquip ex ea commodo consequat. Duis autem vel eum Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum</p>


            <img src="imagens/sobre3.png" alt="historia">





        </div>

    </main>


</body>

</html>