@if(@ViewBag.UsuarioLogado == null){
    Layout = "MasterPageDeslogado";
    } else {
    if (@ViewBag.AdminBool == true)
    {
        Layout = "MasterPageADMLogado";
    } else {
        Layout = "MasterPageLogado";
    }
}

@{
    ViewBag.Title = "Carfel -- Formulário";
}

@section styles{
    <link rel="stylesheet" href="/Css/style-form.css">
}

    <main class="mein">

        <div class="form-wrap">
            <form>
                <h2>Fale Conosco</h2>
                <input class="formul textinho1" type="text" placeholder="Nome*">
                <input class="formul textinho2" type="email" placeholder="Email">
                <input class="formul textinho3" type="number" placeholder="Telefone*">
                <textarea class="formul textinho4" placeholder="Escreva sua Mensagem"></textarea>
                <input class="formul botaozinho btn" type="submit" value="Enviar">
            </form>
        </div>

    </main>

