<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-form.css">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

</head>

@{
    ViewBag.Title = "Carfel -- Formulário";
    Layout = "MasterPagePrincipal";
}



<body>


    <main class="mein">

        <div class="form-wrap">
            <form>
                <h2>Fale Conosco</h2>
                <input class="formul textinho1" type="text" placeholder="Nome*">
                <input class="formul textinho2" type="email" placeholder="Email">
                <input class="formul textinho3" type="number" placeholder="Telefone*">
                <textarea class="formul textinho4" placeholder="Escreva sua Mensagem"></textarea>
                <input class="formul botaozinho btn" type="submit" value="Enviar">
            </form>
        </div>

    </main>

</body>

</html>