<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/Css/style.css">
    <link rel="stylesheet" href="/Css/style-princ.css">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

</head>

@{
    ViewBag.Title = "Carfel -- Pagina Principal";
    Layout = "MasterPagePrincipal";
}


<body>

    <main>

        <div class="standart">

            <div class="product">
                <div class="figure">
                    <img src="Imagens/carfel-basic2.png" alt="plano checkpoint standart">
                    <div class="caption">
                        <div class="about">
                            <h3>Standart Edition</h3>
                            <p>R$29,99</p>
                        </div>
                        <!-- fim div about-->
                    </div>
                    <!-- fim div about -->
                </div>
            </div>

        </div>


        <div class="container">

            <input type="radio" name="images" id="i1">
            <input type="radio" name="images" id="i2">
            <input type="radio" name="images" id="i3">
            

            <div class="slide_img" style="overflow-y: auto;">
                <div id="one">
                    <input type="text" name="comentador" disabled>
                    <img src="https://picsum.photos/244" alt="usuario1">
                    <label for="i3" class="pre"></label>
                    <label for="i2" class="nxt"></label>
                    <input type="text" name="comentario" disabled>
                </div>
            </div>
            <div>
                <div id="two">
                    <input type="text" name="comentador" disabled>
                    <img src="https://picsum.photos/274" alt="usuario1">
                    <label for="i3" class="pre"></label>
                    <label for="i2" class="nxt"></label>
                    <input type="text" name="comentario" disabled>
                </div>
            </div>
            <div>
                <div id="three">
                    <input type="text" name="comentador" disabled>
                    <label for="i3" class="pre"></label>
                    <label for="i2" class="nxt"></label>
                    <img src="https://picsum.photos/149" alt="usuario1">
                    <input type="text" name="comentario" disabled>
                </div>
            </div>

            <div class="nav">
                <label class="dots" id="dot1" for="i1"></label>
                <label class="dots" id="dot2" for="i2"></label>
                <label class="dots" id="dot3" for="i3"></label>
            </div>

        </div>

    </main>

</body>

</html>