@using Senai.Sistema.Carfel.ProjetoFinalDezoito.Models;
@using Microsoft.AspNetCore.Http;

@if(Context.Session.GetString("emailUsuario") == null){
Layout = "MasterPageDeslogado";
} else {
if (Context.Session.GetString("emailUsuario") == "23@23.com")
{
Layout = "MasterPageADMLogado";
} else {
Layout = "MasterPageLogado";
}
}


@section styles{
<link rel="stylesheet" href="/CSS/style-princ.css">
<link rel="stylesheet" href="/CSS/carousel-princip.css">
}

@{
ViewBag.Title = "Carfel -- Pagina Principal";
}

<main>

        <div class="standart">

            <div class="product">
                <div class="figure">
                    <img src="imagens/carfel-basic2.png" alt="plano checkpoint standart">
                    <div class="caption">
                        <div class="about">
                            <h3>Standart Edition</h3>
                            <p>R$29,99</p>
                        </div>
                        <!-- fim div about-->
                    </div>
                    <!-- fim div about -->
                </div>
            </div>



            <div class="standart-text">
                <section class="stardart-text-func">
                    <h2>Funcionalidades</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum </p>

                </section>
                <section class="stardart-text-ferra">
                    <h2>Ferramamentas</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum </p>
                </section>

            </div>

        </div>

        <div class="advanced">



            <div class="product">
                <div class="figure">
                    <img src="imagens/carfel-super.png" alt="plano checkpoint advanced">
                    <div class="caption">
                        <div class="about">
                            <h3>Advanced Edition</h3>
                            <p>R$49,99</p>
                        </div>
                        <!-- fim div about-->
                    </div>
                    <!-- fim div about -->
                </div>
            </div>





            <div class="advanced-text">
                <section class="advanced-text-func">
                    <h2>Funcionalidades</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum </p>

                </section>
                <section class="advanced-text-ferra">
                    <h2>Ferramamentas</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum </p>
                </section>

            </div>


        </div>

        <div class="premium">

            <div class="product">
                <div class="figure">
                    <img src="imagens/carfel-premium.png" alt="plano checkpoint premium">
                    <div class="caption">
                        <div class="about">
                            <h3>Premium Edition</h3>
                            <p>R$199,99</p>
                        </div>
                        <!-- fim div about-->
                    </div>
                    <!-- fim div about -->
                </div>
            </div>
            <div class="premium-text">
                <section class="premium-text-func">
                    <h2>Funcionalidades</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum </p>

                </section>
                <section class="premium-text-ferra">
                    <h2>Ferramamentas</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                        laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum </p>
                </section>

            </div>
        </div>

    </main>
    
@* carousel
<div class="bd">
<div class="containerx">
<ul>
    <li>
        <input type="radio" checked="checked" name="slide">
        <div class="slidex">
            <img src="http://picsum.photos/262">
            <div class="contentx">
                <h2>Slide One</h2>
                <p>lorem ipsum comentario</p>
            </div>
        </div>
    </li>
    <li>
        <input type="radio" name="slide">
        <div class="slidex">
            <img src="http://picsum.photos/462">
            <div class="contentx">
                <h2>Slide Two</h2>
                <p>lorem ipsum comentario</p>
            </div>
        </div>
    </li>
    <li>
        <input type="radio" name="slide">
        <div class="slidex">
            <img src="http://picsum.photos/412">
            <div class="contentx">
                <h2>Slide Three</h2>
                <p>lorem ipsum comentario</p>
            </div>
        </div>
    </li>
    <li>
        <input type="radio" name="slide">
        <div class="slidex">
            <img src="http://picsum.photos/233">
            <div class="contentx">
                <h2>Slide Four</h2>
                <p>lorem ipsum comentario</p>
            </div>
        </div>
    </li>
    <li>
        <input type="radio" name="slide">
        <div class="slidex">
            <img src="http://picsum.photos/115">
            <div class="contentx">
                <h2>Slide Five</h2>
                <p>lorem ipsum comentario</p>
            </div>
        </div>
    </li>
</ul>
</div>
</div>

*@
