@if(@ViewBag.UsuarioLogado == null){
    Layout = "MasterPageDeslogado";
    } else {
    if (@ViewBag.AdminBool == true)
    {
        Layout = "MasterPageADMLogado";
    } else {
        Layout = "MasterPageLogado";
    }
}

@section styles{
    <link rel="stylesheet" href="/CSS/style-princ.css">
}
  
@{
    ViewBag.Title = "Carfel -- Pagina Principal";
}

    <main>

        <div class="standart">

            <div class="product">
                <div class="figure">
                    <img src="/imagens/carfel-basic2.png" alt="plano checkpoint standart">
                    <div class="caption">
                        <div class="about">
                            <h3>Standart Edition</h3>
                            <p>R$29,99</p>
                        </div>
                        <!-- fim div about-->
                    </div>
                    <!-- fim div about -->
                </div>
            </div>

        </div>


        <div class="container">

            <input type="radio" name="images" id="i1">
            <input type="radio" name="images" id="i2">
            <input type="radio" name="images" id="i3">
            

            <div class="slide_img" style="overflow-y: auto;">
                <div id="one">
                    <input type="text" name="comentador" disabled>
                    <img src="https://picsum.photos/244" alt="usuario1">
                    <label for="i3" class="pre"></label>
                    <label for="i2" class="nxt"></label>
                    <input type="text" name="comentario" disabled>
                </div>
            </div>
            <div>
                <div id="two">
                    <input type="text" name="comentador" disabled>
                    <img src="https://picsum.photos/274" alt="usuario2">
                    <label for="i3" class="pre"></label>
                    <label for="i2" class="nxt"></label>
                    <input type="text" name="comentario" disabled>
                </div>
            </div>
            <div>
                <div id="three">
                    <input type="text" name="comentador" disabled>
                    <label for="i3" class="pre"></label>
                    <label for="i2" class="nxt"></label>
                    <img src="https://picsum.photos/149" alt="usuario3">
                    <input type="text" name="comentario" disabled>
                </div>
            </div>

            <div class="nav">
                <label class="dots" id="dot1" for="i1"></label>
                <label class="dots" id="dot2" for="i2"></label>
                <label class="dots" id="dot3" for="i3"></label>
            </div>

        </div>

    </main>
