/* no final mudar a imagem (sic) */
main {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1em;
}

.standart {
    background-color: #fff;
    height: 33%;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.standart img {
    height: 300px;
    width: 300px;
    right: 94%;
    top: 10%;
    margin: 30px 140px 30px 140px;
}

.standart-text {
    padding: 3% 3% 3% 0%;
}

.advanced {
    background-color: #E5F5F6;
    height: 33%;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
}

.advanced img {
    height: 300px;
    width: 300px;
    right: 94%;
    top: 10%;
    margin: 30px 140px 30px 140px;
}


.advanced-text {
    padding: 3% 6% 0% 6%;
}

.premium {
    background-color: #fff;
    height: 34%;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.premium img {
    height: 300px;
    width: 300px;
    right: 94%;
    top: 10%;
    margin: 30px 140px 30px 140px;
}

.premium-text {
    padding: 3% 3% 3% 0%;
}




 .product {
/* position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
    width: 600px;
    height: 375px;
/* background: black;
overflow: hidden; */

}

.figure {
/* height: 100%;
width: 100%; */

}

.figure img {
/* width: 100%; */
    transition: .5s;

}

.product:hover .figure img {
    transform: scale(1.2);
    opacity: .5;
    cursor: pointer;
}

.caption{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1em;
    font-weight: 800;
/* position: absolute;
top: 40px;
left: 40px;
right: 40px;
bottom: 40px;
background-color: aqua; */
}
/*
.caption:before {
 content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
transition: .5s;
transform: scale(0,1); 

}


.product:hover .caption:before {
/* transform: scale(1,1); 
}

*/

.about {
/* position: absolute; */
/* top: 50%; */
    transform: translateY(-100%);
    z-index: 1;
    padding: 20px;
    transition: .5s;
    text-align: center;
    opacity: 0;
}

.product:hover .about {
    opacity: 1;
} 

/* slide list start 
    .container {
        margin: 0 auto;
        margin-top: 20px;
        position: relative;
        width: 70%;
        height: 0;
        padding-bottom: 40%;
        background: #4c4c4c;
        border: solid 10px #2c2c2c;
    }

    .slide_img{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .slide_img img{
        width: 100%;
        height: 100%;
    }

    #i1, #i2, #i3{
        display: none;
    }

    .pre, .pos{
        width: 12%;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(88, 88, 88, -4);
        z-index: 99;
        cursor: pointer;
    }

    .pre{
        left: 0;
    }

    .pos{
        right: 0;
    }

    .nav{
        width: 100%;
        height: 11px;
        bottom: 12%;
        position: absolute;
        text-align: center;
        z-index: 99;
    }

    .dots{
        top: -5px;
        width: 18px;
        height: 18px;
        margin: 0 4px;
        position: relative;
        border-radius: 50%;
        display: inline-block;
        background: rgba(0, 0, 0, .6);
    }

    .slide_img{
        z-index: -1;
    }

    #i1:checked ~ #uno,
    #i2:checked ~ #duo,
    #i3:checked ~ #tre{
        z-index: 9;
    }

    #i1:checked ~ .nav #dot1,
    #i2:checked ~ .nav #dot2,
    #i3:checked ~ .nav #dot3{
        background: #fff;
    }

 slide list end */

/* novo slider começo*/
 .dha{
     width: 70%;
     height: 400px;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     background-image: url(https://picsum.photos/100/100/?image=769);
     background-size: 100% 100%;
     animation: slider 9s infinite linear;
 }
    @keyframes slider{
        0%{ background-image: url(https://picsum.photos/100/100/?image=769);
        background-size: 100% 100%; }
        35%{ background-image: url(https://picsum.photos/100/100/?image=786);
        background-size: 100% 100%; }
        70%{ background-image: url(https://picsum.photos/100/100/?image=54);
        background-size: 100% 100%; }


    }
/* novo slider começo*/

    @media screen and (max-width:930) {


        .standart img {
            height: 200px;
            width: 200px;
            right: 94%;
            top: 10%;
            margin: 30px 140px 30px 140px;
        }
        
        .standart-text p {
            font-size: 0.4em
            
        }
    
        
        .advanced img {
            height: 300px;
            width: 300px;
            right: 94%;
            top: 10%;
            margin: 30px 140px 30px 140px;
        }
    
    
    
        .premium img {
            height: 300px;
            width: 300px;
            right: 94%;
            top: 10%;
            margin: 30px 140px 30px 140px;
        }
    }
    


@media screen and (max-width:480) {


}