@using Senai.Sistema.Carfel.ProjetoFinalDezoito.Models;
@using Microsoft.AspNetCore.Http;

@if(Context.Session.GetString("emailUsuario") == null){
Layout = "MasterPageDeslogado";
} else {
    if (Context.Session.GetString("emailUsuario") == "23@23.com")
    {
        Layout = "MasterPageADMLogado";
    } else {
        Layout = "MasterPageLogado";
}
}

@{
    ViewBag.Title = "Carfel -- Cadastrar Usuário";
}

@section styles {
    <link rel="stylesheet" href="/CSS/style-cadastrar.css">
}

<main>
<h1>Formulario de Cadastro</h1>

<form action="/Usuario/Cadastrar" method="POST">
    <label>Nome
        <input type="text" name="nome" required>
    </label>

    <label>Email
        <input type="email" name="email" required>
    </label>

    <label>Senha
        <input type="password" name="senha" required>
    </label>

    <input type="submit" value="Enviar">
</form>

@ViewBag.Mensagem

</main>

