@using Senai.Sistema.Carfel.ProjetoFinalDezoito.Models;
@using Microsoft.AspNetCore.Http;

@if(Context.Session.GetString("emailUsuario") == null){
Layout = "MasterPageDeslogado";
} else {
    if (Context.Session.GetString("emailUsuario") == "23@23.com")
    {
        Layout = "MasterPageADMLogado";
    } else {
        Layout = "MasterPageLogado";
}
}

@{
    ViewBag.Title = "Carfel -- Login";
}

@section styles {
    <link rel="stylesheet" href="/CSS/login.css" type="text/css">
    <link rel="stylesheet" href="/Css/style-form.css">
}

<main  class="log">


<form action="/Usuario/Login" method="POST" class="form-wrap">
<h2>Login</h2>
    <label>
        <input type="text" name="email" required="true" placeholder="Insira seu email" class="formul textinho3 loki">
    </label>
    <label>
        <input type="password" name="senha" required="true" placeholder="Insira sua senha" class="formul textinho3 loki">
    </label>

    <input type="submit" value="Entrar" class="formul botaozinho btn">
    <a href="\Usuario\Cadastrar" style="text-decoration: none;">
        <h2 style="color: blue; font-size: .9rem; margin-right: -20px; text-decoration: none;">Cadastro de Usuario</h2>
    </a>
</form>
</main>

@ViewBag.Mensagem